	 @media (min-width: 992px){
  .ml-auto{
  	padding-right: 100px;
  }
   .navbar-expand-lg .navbar-nav .nav_text {
    padding-right: 1rem;
    font-weight: bold;
 }
  .brand_logo{
  	    width: 100px;
    margin-left: 60px;
  }

}

.nav_text:hover{
     color: #83be3a !important;
     transition: all 200ms ease-in;
 }
 .btn-outline-dark:hover{

    border-color: #343a40 !important;
 }

 .login_btn{
 	color: #fff !important;
 	background-color:#83be3a;
 	border-radius: 25px;
 	padding: 5px !important; 	
 	padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 5px !important;
    font-weight: bold;
}
.post_a_project_btn{
	background-color: transparent;
	border-radius: 25px;
	border:1px solid #83be3a;
	color: #83be3a;
	padding: 5px;
	font-weight: 600;
	padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 20px;
}
.post_a_project_btn:hover{
	color: #fff;
	background-color:#83be3a;
	 transition: all 900ms ease-in;
}
.navbar-toggler{
	background-color: #83be3a !important;
}
.text_color h1 {
	color: #83be3a;
	margin-bottom: 50px;
}
.fa-check{
	color: #83be3a;
	padding-right: 5px;
}
.fa-check-double{
	color: #83be3a;
	padding-right: 5px;
}
.banner-section{
	background-image: url(images/banner-img.jpg);
	background-size: cover;
	min-height: 600px;
}
.upper-section{
	z-index: 1;
    margin-top: -55px;
    height: 100px;
}
.img-fluid{
	height: 90px;
}
.client-section .card-body{
	padding: 2.25rem !important;
	text-align: center;
}
.dark-heading-section{
	background-color: #000;
	color: #fff;
	min-height: 250px;

}

.btn-outline{
 border-color: #83be3a !important;
 color: #83be3a ;
}

.btn-outline:hover{
 border-color: #83be3a ;
 color: #fff ;
 background-color:#83be3a; 
}
.btn-active{
  border-color: #83be3a ;
 color: #fff ;
 background-color:#83be3a;
}

.multi-div{
	display: none;
}

/*testimonial carousel */

.shadow-effect {
		    background: #fff;
		    padding: 20px;
		    border-radius: 4px;
		    text-align: center;
	border:1px solid #ECECEC;
		    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
		}
		#customers-testimonials .shadow-effect p {
		    font-family: inherit;
		    font-size: 17px;
		    line-height: 1.5;
		    margin: 0 0 17px 0;
		    font-weight: 300;
		}
		.testimonial-name {
		    margin: -17px auto 0;
		    display: table;
		    width: auto;
		    background: #83be3a;
		    padding: 9px 35px;
		    border-radius: 12px;
		    text-align: center;
		    color: #fff;
		    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
		}
		#customers-testimonials .item {
		    text-align: center;
		    padding: 50px;
				margin-bottom:80px;
		    opacity: .2;
		    -webkit-transform: scale3d(0.8, 0.8, 1);
		    transform: scale3d(0.8, 0.8, 1);
		    -webkit-transition: all 0.3s ease-in-out;
		    -moz-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
		}
		#customers-testimonials .owl-item.active.center .item {
		    opacity: 1;
		    -webkit-transform: scale3d(1.0, 1.0, 1);
		    transform: scale3d(1.0, 1.0, 1);
		}
		.owl-carousel .owl-item img {
		    transform-style: preserve-3d;
		    max-width: 90px;
    		margin: 0 auto 17px;
		}
		#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
		    background: #83be3a;
		    transform: translate3d(0px, -50%, 0px) scale(0.7);
		}
#customers-testimonials.owl-carousel .owl-dots{
	display: inline-block;
	width: 100%;
	text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
	display: inline-block;
}
		#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
		    background: #83be3a;
		    display: inline-block;
		    height: 20px;
		    margin: 0 2px 5px;
		    transform: translate3d(0px, -50%, 0px) scale(0.3);
		    transform-origin: 50% 50% 0;
		    transition: all 250ms ease-out 0s;
		    width: 20px;
		}

footer ul {
    list-style: none;
    margin-left: -40px;

}
footer svg {
    fill: #fff;
}
footer .col-md-3{
    margin-top: 50px;
}
footer strong{
     color: #83be3a;
     font-size: 20px;
}
footer ul li a {
    color: var(--white) !important;

}
footer ul li a .fa-angle-right{
    color: #83be3a !important;
    margin-right: 15px;

}
footer ul li{
    padding: 5px;
}
footer .addhome .addicon {
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px solid #ddd;
    float: left;
    width: 20px;
    height: 20px;
    color: #83be3a;
    text-align: center;
}
footer .list-inline li a i{
    color: #83be3a;
}

html {
  scroll-behavior: smooth;
}